{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!--==============================Content=================================-->
		<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - February 10, 2014!</div>
        <div class="container_12">

            <div class="banners">
                {% for tour in tours %}

                <div class="grid_4">

                    <div class="banner">
                        <img src="{{ tour.image.url }}" alt="">
                        <div class="label">
                            <div class="title">{{ tour.title }}</div>
                            <div class="price">from<span>{{ tour.price }}</span></div>
                            <a href="#">LEARN MORE</a>
                        </div>
                    </div>

                </div>

                {% endfor %}

            </div>

        </div>
    </div>

{% endblock %}