{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!--==============================Content=================================-->
		<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - February 10, 2014!</div>
        <div class="container_12">
            <div class="grid_8">
                <h3>Special offers</h3>

                {% for special_offer in special_offers %}
                <div class="block2">
                    <img src="{{ special_offer.image.url }}" alt="" class="img_inner fleft">
                    <div class="extra_wrapper">
                        <div class="text1 col1"><a href="#">{{ special_offer.city}}</a></div>
                        <p>{{ special_offer.description }} 
                            </p>Maecenas vehicula egestas venenatis. 
                            Duis massa elit, auctor non pellentesque vel
                        <br>
                        <a href="#" class="link1">LEARN MORE</a>
                    </div>
                </div>
                {% endfor %}


            </div>
            <div class="grid_3 prefix_1">
                <h5>CHOOse the country</h5>
                <ul class="list">
                    <li><a href="#">Albania</a></li>
                    <li><a href="#">American Samoa</a></li>
                    <li><a href="#">Antarctica</a></li>
                    <li><a href="#">Argentina</a></li>
                    <li><a href="#">Armenia</a></li>
                    <li><a href="#">Australia</a></li>
                    <li><a href="#">Austria</a></li>
                    <li><a href="#">Bahrain</a></li>
                    <li><a href="#">Barbados</a></li>
                    <li><a href="#">Belgium</a></li>
                    <li><a href="#">Belize</a></li>
                    <li><a href="#">Bermudas</a></li>
                </ul>
                <a href="#" class="link1">VIEW A<span class="low">ll</span></a>
            </div>
        </div>
        </div>

{% endblock %}